<fuse-loading-bar></fuse-loading-bar>
<div class="flex h-screen ">
    <!-- Navigation -->
    <fuse-vertical-navigation class="dark flex-none max-w-56 min-w-56" [mode]="isScreenSmall ? 'over' : 'side'"
        [name]="'mainNavigation'" [navigation]="navigation" [opened]="!isScreenSmall" [who]="'user'">
        <!-- Navigation header hook -->
        <ng-container fuseVerticalNavigationContentHeader>
            <div class="flex items-center h-20 p-2 mt-5 mb-10" gap-2>
                <img class="w-full" src="van+name.logo.png">
            </div>
        </ng-container>
        <!-- Navigation footer hook -->
        <ng-container fuseVerticalNavigationFooter>
            <!-- User -->
            <div class="flex items-center w-full px-4 py-8 border-t">
                @if(!isLoading){
                <user></user>
                <div class="flex flex-col w-full ml-4 overflow-hidden">
                    <div
                        class="w-full whitespace-nowrap text-ellipsis overflow-hidden leading-normal text-current opacity-80">
                        {{user.first_name}} {{user.last_name}}
                    </div>
                    <div
                        class="w-full mt-0.5 whitespace-nowrap text-sm text-ellipsis overflow-hidden leading-normal text-current opacity-50">
                        {{user.email}}
                    </div>
                </div>
                }@else {
                <mat-progress-spinner [diameter]="45" mode="indeterminate"></mat-progress-spinner>
                <div class="flex flex-col w-full ml-4 overflow-hidden">
                    <div
                        class="w-28 h-3 bg-gray-200 rounded-full animate-pulse opacity-80">
                    </div>
                    <div
                        class="w-28 h-2 mt-1 bg-gray-100 rounded-full animate-pulse opacity-50">
                    </div>
                </div>
                }
            </div>
        </ng-container>
    </fuse-vertical-navigation>


    <!-- Wrapper -->
    <div class="flex flex-col flex-1 min-w-0 relative">
        @if(isScreenSmall){
        <!-- Navigation toggle button -->
        <button mat-icon-button (click)="toggleNavigation('mainNavigation')" class="z-50 ml-4 mt-2">
            <mat-icon svgIcon="heroicons_outline:bars-3"></mat-icon>
        </button>
        }
        <!-- Content -->
        <div class="absolute inset-0 overflow-auto">
            @if (true) {
            @if(isLoading){
            <div class="flex flex-1 justify-center items-center">
                <mat-progress-spinner [diameter]="45" mode="indeterminate">
                </mat-progress-spinner>
            </div>
            }@else {
            <router-outlet></router-outlet>
            }
            }
        </div>

    </div>
</div>