.group-grid {
  grid-template-columns: 150px auto ;

  @screen sm {
    grid-template-columns: 100px 200px auto 50px  ;
  }

  @screen md {
    grid-template-columns: 100px 200px auto 50px ;
  }

  @screen lg {
    grid-template-columns: 100px 200px auto  50px  ;
  }
}
