<div class="flex flex-col h-full w-full relative"> <!-- Added relative for positioning context -->
    <!-- Order Details overlay -->
    <div class="absolute left-0 top-0 m-4 z-10  p-6 w-5/12 bg-transparent">
        <form class="w-full" #myForm="ngForm" ngForm="ngForm">

            <!-- Add your form elements or content here -->
            <div class="space-y-4">
                <div class="bg-gray-900 rounded-full shadow-sm p-2 border border-gray-200">
                    <mat-button-toggle-group [(ngModel)]="Order.type" name="type" aria-label="Delivery type"
                        class="w-full" [hideSingleSelectionIndicator]="hideSingleSelectionIndicator()" required>
                        <mat-button-toggle [value]="DeliveryType.building"
                            class="w-1/2 !rounded-full !px-2 !py-1 !border !border-gray-200"
                            [class.bg-indigo-50]="Order.type === DeliveryType.building">
                            <span class="capitalize md:font-medium text-gray-700">
                                <span class="hidden md:inline">Delivery to </span>building
                            </span>

                        </mat-button-toggle>
                        <mat-button-toggle [value]="DeliveryType.apartment"
                            class="w-1/2 !rounded-full !px-2 !py-1 !border !border-gray-200"
                            [class.bg-indigo-50]="Order.type === DeliveryType.apartment">
                            <span class="capitalize md:font-medium text-gray-700">
                                <span class="hidden md:inline">Delivery to </span>apartment
                            </span>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div class="bg-gray-900 rounded-3xl shadow-sm p-4 border border-gray-200">
                    <h3 class="text-lg font-semibold text-white mb-4 text-white flex gap-2 items-center">
                        Pickup Details
                    </h3>
                    <div class="grid gap-6 "
                        [ngClass]="{'md:grid-cols-2': Order.type !== DeliveryType.building, 'grid-cols-1': Order.type === DeliveryType.apartment}">
                        <div class="relative space-y-2 z-50">
                            <label class="text-md font-semibold text-white uppercase tracking-wide">Where to pick
                                up
                            </label>
                            <div class="relative">
                                <select-map [userLocation]="userLocation" [searchQuery]="searchQueryA"
                                    (selectPlace)="onSelectPlace($event,'a')"></select-map>
                                @if (
                                myForm.submitted &&
                                PointA.place === null) {
                                <mat-error>
                                    {{ 'This field is required' }}
                                </mat-error>
                                }

                            </div>
                        </div>
                        @if(Order.type === DeliveryType.apartment){
                        <div class="space-y-2">
                            <label class="text-md font-semibold text-white uppercase tracking-wide0">Entrance
                                Type</label>
                            <mat-form-field appearance="outline" class="w-full">
                                <mat-select [(ngModel)]="PointA.entrance" name="entranceType" required>
                                    <mat-option value="main">
                                        <div class="flex items-center">
                                            <mat-icon class="mr-2 text-gray-500">home</mat-icon>
                                            Main Entrance
                                        </div>
                                    </mat-option>
                                    <mat-option value="side">
                                        <div class="flex items-center">
                                            <mat-icon class="mr-2 text-gray-500">meeting_room</mat-icon>
                                            Side Entrance
                                        </div>
                                    </mat-option>
                                    <mat-option value="back">
                                        <div class="flex items-center">
                                            <mat-icon class="mr-2 text-gray-500">backup</mat-icon>
                                            Back Entrance
                                        </div>
                                    </mat-option>
                                </mat-select>
                                @if ( myForm.controls['entranceType'] && (myForm.controls['entranceType'].dirty ||
                                myForm.submitted) &&
                                myForm.controls['entranceType'].hasError('required') ) {
                                <mat-error>
                                    {{ 'This field is required' }}
                                </mat-error>
                                }
                            </mat-form-field>
                        </div>
                        }
                    </div>

                    @if(Order.type === DeliveryType.apartment){

                    <!-- Address Details -->
                    <div class="space-y-4">
                        <h4 class="text-md font-semibold text-white uppercase tracking-wide">Address Details</h4>
                        <div class="!z-0">
                            <mat-form-field class="w-full">
                                <input matInput [(ngModel)]="PointA.adress_details" name="details" type="text"
                                    required>
                                <mat-hint>Floor, apartment, entryphone ...</mat-hint>
                                @if ( myForm.controls['details'] && (myForm.controls['details'].dirty ||
                                myForm.submitted) &&
                                myForm.controls['details'].hasError('required') ) {
                                <mat-error>
                                    {{ 'This field is required' }}
                                </mat-error>
                                }
                            </mat-form-field>
                        </div>


                    </div>
                    }

                    <!-- Phone -->
                    <div class="pt-4 border-t border-gray-200 z-0">
                        <mat-form-field class="bot !z-0 w-full ">
                            <mat-label class="text-md font-semibold text-white uppercase tracking-wide">Contact
                                Number</mat-label>
                            <span class="text-gray-400 mr-2">+216</span>
                            <input matInput [(ngModel)]="PointA.phone" name="phone" type="tel" pattern="[0-9]{8}"
                                placeholder="90-303-560" required>
                            <mat-icon class="text-gray-400">call</mat-icon>
                            <mat-hint class="text-sm">Format: 90-303-560</mat-hint>
                            @if ( myForm.controls['phone'] && (myForm.controls['phone'].dirty || myForm.submitted)
                            &&
                            myForm.controls['phone'].hasError('required') ) {
                            <mat-error>
                                {{ 'This field is required' }}
                            </mat-error>
                            }
                        </mat-form-field>
                    </div>
                </div>
                <button class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600">
                    Create Order
                </button>
            </div>
        </form>
    </div>

    <!-- Map container -->
    <div class="flex-1 min-h-0 relative z-0">
        <div id="map" class="h-full w-full"></div>
    </div>
</div>