<div class="flex flex-col flex-auto h-screen overflow-hidden">
    <div class="flex-auto">
        <div class="w-full max-w-screen-xl mx-auto h-full">
            <!-- Main Container -->
            <div class="flex flex-col md:flex-row w-full">
                <!-- Left Panel -->
                <div class="w-full md:w-1/2 p-4  overflow-y-auto h-[calc(100vh-0rem)]">
                    <!-- Tabs -->
                    <mat-tab-group class="sm:px-2" mat-stretch-tabs="false" [animationDuration]="'0'">
                        <mat-tab label="All">
                            <ng-template matTabContent>
                                <!-- Tab content -->
                                <div class="mt-4 ">
                                    <!-- Filter Row -->
                                    <form class="flex flex-row gap-2 justify-center md:justify-between mb-4" #myForm="ngForm" ngForm="ngForm">
                                        <div class="relative flex items-center justify-center px-4 leading-9 rounded-md cursor-pointer bg-gray-200 w-1/2"
                                            (click)="dueDatePicker.open()">
                                            <mat-icon class="icon-size-5 text-current"
                                                [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                                            @if(date){
                                            <span class="ml-2 text-md font-medium">
                                                <ng-container>{{formattedDate}}</ng-container>
                                            </span>
                                            }
                                                <mat-form-field
                                                class="fuse-mat-dense invisible absolute inset-0 -mt-2.5 opacity-0 pointer-events-none"
                                                [subscriptSizing]="'dynamic'">
                                                <input matInput name="dueDate" [(ngModel)]="date"
                                                    [matDatepicker]="dueDatePicker">
                                                <mat-datepicker #dueDatePicker>
                                                    <mat-datepicker-actions>
                                                        <button mat-button matDatepickerCancel>Clear
                                                        </button>
                                                        <button class="" mat-flat-button [color]="'primary'"
                                                            matDatepickerApply (click)="getSelectedDate()">Select
                                                        </button>
                                                    </mat-datepicker-actions>
                                                </mat-datepicker>
                                            </mat-form-field>
                                            </div>
                                        <mat-form-field class="w-1/2 rounded-full" [subscriptSizing]="'dynamic'">
                                            <mat-select [value]="''" (selectionChange)="filterByCategory($event)">
                                                <mat-option [value]="''">All</mat-option>
                                                @for (item of status; track $index) {
                                                    <ng-container>
                                                        <mat-option [value]="item.key">{{item.value}}</mat-option>
                                                    </ng-container>
                                                }
                                            </mat-select>
                                        </mat-form-field>
                                    </form>

                                    <!-- Order Cards -->
                                    @for (item of Orders; track $index) {
                                    <div class="mt-6 cursor-pointer">
                                        <div class="bg-gray-50 p-4 rounded-lg mb-4" [ngClass]="{
                                            'border-2 border-indigo-400 bg-white shadow-lg': selectedOrderId === item._id
                                          }" (click)="selectOrder(item._id)">
                                            <div class="text-gray-600 font-medium mb-2">Looking for a courier</div>
                                            <div class="flex justify-between mb-1">
                                                <div class="font-semibold">{{getDate(item.createdAt)}},
                                                    {{getTime(item.createdAt)}}</div>
                                                <div class="font-semibold">TND6</div>
                                            </div>
                                            <div class="mb-2">{{item.productDesc}}</div>
                                            <div class="mt-4 flex flex-col gap-2">
                                                <div class="flex gap-2">
                                                    <div
                                                        class="bg-gray-900 text-white rounded-full w-6 h-6 flex items-center justify-center">
                                                        A</div>
                                                    <div class="font-bold text-gray-900">
                                                        {{item?.pick_up.place.name+"
                                                        ,"+item?.pick_up.place.gouvernorat}}
                                                    </div>
                                                </div>
                                                <div class="flex gap-2">
                                                    <div
                                                        class="bg-gray-900 text-white rounded-full w-6 h-6 flex items-center justify-center">
                                                        B</div>
                                                    <div class="font-bold text-gray-900">
                                                        {{item?.destination.place.name+"
                                                        ,"+item?.destination.place.gouvernorat}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                    <button mat-button (click)="loadMore()" class="w-full" [hidden]="max<=currentSize">
                                        Load More
                                    </button>
                                </div>
                            </ng-template>
                        </mat-tab>
                        <mat-tab label="Active">
                            <ng-template matTabContent>
                                <!-- Active tab content -->
                            </ng-template>
                        </mat-tab>
                        <mat-tab label="Completed">
                            <ng-template matTabContent>
                                <!-- Completed tab content -->
                            </ng-template>
                        </mat-tab>
                    </mat-tab-group>
                </div>

                @if(Order){
                <!-- Right Panel -->
                <div class="w-full h-screen md:w-1/2 pr-8 pt-4 pb-4">
                    <card class="flex-col w-full h-full p-6 sm:py-12 sm:px-10 filter-pricing">
                        <!-- Map -->
                        <div id="map" class="w-full h-50 rounded-3xl relative" (mouseenter)="hidden=false" (mouseleave)="hidden=true">
                            <button class="absolute bottom-2 right-2 bg-white z-50 p-2 rounded-full" mat-icon-button [hidden]="hidden" (click)="orderDetails(Order._id)">
                                <mat-icon [svgIcon]="'feather:maximize-2'"></mat-icon>
                            </button>
                        </div>
                        <!-- Price -->
                        <div class="flex items-baseline whitespace-nowrap">
                            <div class="mr-2 text-2xl">TND</div>
                            <div class="text-6xl font-semibold leading-tight tracking-tight">$6.00</div>
                        </div>
                        <!-- CTA -->
                        <button class="fuse-mat-button-large mt-4 mb-4" mat-stroked-button [color]="'warn'">
                            Cancel order
                        </button>
                        @if(details){
                        <div class="space-y-4 text-lg font-medium tracking-tight text-secondary" @expandCollapse>
                            <!-- Sender's number -->
                            <div class="flex items-baseline justify-between">
                                <div class="font-bold text-gray-900">Sender's number</div>
                                <div class="w-60 h-1 rounded bg-accent"></div>
                                <span>+216
                                    {{Order.pick_up?.phone.substring(0,2)
                                    +" "+Order.pick_up?.phone.substring(2,5)+"
                                    "+Order.pick_up?.phone.substring(5)}}</span>
                            </div>
                            <!-- Receiver's number -->
                            <div class="flex items-baseline justify-between">
                                <div class="font-bold text-gray-900">Receiver's number</div>
                                <div class="w-56 h-1 rounded bg-accent"></div>
                                <span>+216
                                    {{Order.destination?.phone.substring(0,2)
                                    +" "+Order.destination?.phone.substring(2,5)+"
                                    "+Order.destination?.phone.substring(5)}}</span>
                            </div>

                            <!-- Product Description -->
                            <div>
                                <div class="mb-1 font-bold text-gray-900">Product Description:</div>
                                <p class="text-base">{{Order.productDesc}}</p>
                            </div>
                        </div>

                        }
                        <div (click)="details=!details" class="cursor-pointer flex items-center gap-2">
                            Details
                            <mat-icon [svgIcon]="'heroicons_outline:chevron-up'"
                                class="transform transition-transform duration-200 ease-in-out"
                                [class.rotate-180]="!details"></mat-icon>
                        </div>
                        <div class="mt-4 flex flex-col gap-2">
                            <div class="flex gap-2">
                                <div
                                    class="bg-gray-900 text-white rounded-full w-6 h-6 flex items-center justify-center">
                                    A</div>
                                <div class="font-bold text-gray-900">
                                    {{Order.pick_up?.place.name+" ,"+Order.pick_up?.place.gouvernorat}}
                                </div>
                            </div>
                            <div class="flex gap-2">
                                <div
                                    class="bg-gray-900 text-white rounded-full w-6 h-6 flex items-center justify-center">
                                    B</div>
                                <div class="font-bold text-gray-900">
                                    {{Order.destination?.place.name+" ,"+Order.destination?.place.gouvernorat}}
                                </div>
                            </div>
                        </div>
                    </card>
                </div>
                }
            </div>
        </div>
    </div>
</div>