@if (user) {
<div class="flex flex-col flex-1 bg-card dark:bg-transparent">
  <form class="w-full" #myForm="ngForm" ngForm="ngForm">
    <!-- Header -->
    <div class="relative flex flex-col flex-0 sm:justify-between py-3 px-3 border-b">
      <!-- Loader -->
      @if (isLoading) {
      <div class="absolute inset-x-0 bottom-0">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
      </div>
      }
      <!-- Title -->
      <div class="hidden md:flex text-3xl font-extrabold tracking-tight">
        {{ 'Users Features' }}
      </div>
      <!-- Actions -->
      <div class="flex flex-shrink-0 w-full items-center md:mt-3 sm:mt-0">
        <div class="w-3/4 sm:w-2/3 flex flex-row">
          <!-- clear project button -->
          <button class="mr-2 text-red-500" mat-flat-button (click)="deleteUser()">
            <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
            <span class="ml-2 mr-1">{{ 'Delete' }}</span>
          </button>
        </div>
        <div class="flex justify-end w-1/4 sm:w-1/3 ml-1 sm:ml-0">
          <!-- cancel project button -->
          <button class="mr-2 bg-gray-100" mat-flat-button (click)="addUser()">
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            <span class="ml-2 mr-1">{{ 'Add' }}</span>
          </button>
          <!-- save project button -->
          <button
            class="mr-2"
            mat-flat-button
            [color]="'primary'"
            type="submit"
            (click)="editUser()"
          >
            <mat-icon [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
            <span class="ml-2 mr-1">{{ 'Edit' }}</span>
          </button>
        </div>
      </div>
    </div>
    <!-- Main -->
    <div class="flex flex-1 flex-col flex-auto overflow-hidden sm:overflow-y-auto">
      <div class="flex justify-center mb-6 w-full m-2">
        <div class="w-5/6 sm:w-1/2 md:w-1/3">
          <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
            <mat-label class="">{{ 'User' }}</mat-label>
            <input [(ngModel)]="label" matInput name="email" type="text" disabled />
          </mat-form-field>
        </div>
      </div>
      <div class="flex flex-col mb-6 w-full bg-gray-100">
        <div class="flex text-2xl font-extrabold tracking-tight m-4">
          <button class="mx-4" mat-flat-button type="button" disabled>
            <span class="">{{ 'Grant all' }}</span>
          </button>
          <button class="" mat-flat-button type="button" color="accent" disabled>
            <span class="">{{ 'Revoke all' }}</span>
          </button>
        </div>
        <div class="grid grid-cols-10 gap-6 m-1 p-1">
          <div class="col-span-2 flex justify-center">{{ 'Feature' }}</div>
          <div class="col-span-1 flex justify-center">{{ 'List' }}</div>
          <div class="col-span-1 flex justify-center">{{ 'Create' }}</div>
          <div class="col-span-1 flex justify-center">{{ 'Read' }}</div>
          <div class="col-span-1 flex justify-center">{{ 'Update' }}</div>
          <div class="col-span-1 flex justify-center">{{ 'Delete' }}</div>
          <div class="col-span-1 flex justify-center">{{ 'Status' }}</div>
          <div class="col-span-1 flex justify-center">{{ 'Default' }}</div>
          <div class="col-span-1 flex justify-center"></div>
        </div>
        <div class="grid grid-cols-1 min-w-full gap-1 min-w-full bg-white">
          @for (item of userFeature; track item; let index = $index; let last = $last) {
          <div class="grid grid-cols-10 gap-6 m-1 p-1 bg-gray-100">
            <div class="col-span-2">
              <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                <mat-select
                  placeholder="select feature"
                  [value]="featureId[index]"
                  disabled
                  #selectValue
                >
                  <mat-select-trigger>
                    @if (featureId[index]) {
                    <div class="font-medium items-center flex flex-row">
                      <span class="">
                        {{ featureId[index].title }}
                      </span>
                    </div>
                    }
                  </mat-select-trigger>
                  {{ userFeature[index].featureId }}
                  <mat-option>
                    <ngx-mat-select-search
                      [formControl]="featureFilterControl"
                      placeholderLabel="Filter"
                      noEntriesFoundLabel="No Features Found"
                    ></ngx-mat-select-search>
                  </mat-option>
                  <mat-option [value]="null">
                    <div class="font-medium items-center flex flex-row">
                      <span class="hidden sm:block"> {{ '-- None --' }} </span>
                    </div>
                  </mat-option>
                  @for (item of featureId; track item) {
                  <mat-option [value]="item" [disabled]="featureId.includes(item)">
                    <div class="font-medium items-center flex flex-row">
                      <span class=""> {{ item.title }}</span>
                    </div>
                  </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-span-1 flex justify-center mt-3">
              <mat-slide-toggle
                disabled
                name="list{{ index }}"
                [(ngModel)]="userFeature[index].list"
              ></mat-slide-toggle>
            </div>
            <div class="col-span-1 flex justify-center mt-3">
              <mat-slide-toggle
                disabled
                name="create{{ index }}"
                [(ngModel)]="userFeature[index].create"
              ></mat-slide-toggle>
            </div>
            <div class="col-span-1 flex justify-center mt-3">
              <mat-slide-toggle
                disabled
                name="read{{ index }}"
                [(ngModel)]="userFeature[index].read"
              ></mat-slide-toggle>
            </div>
            <div class="col-span-1 flex justify-center mt-3">
              <mat-slide-toggle
                disabled
                name="update{{ index }}"
                [(ngModel)]="userFeature[index].update"
              ></mat-slide-toggle>
            </div>
            <div class="col-span-1 flex justify-center mt-3">
              <mat-slide-toggle
                disabled
                name="delete{{ index }}"
                [(ngModel)]="userFeature[index].delete"
              ></mat-slide-toggle>
            </div>
            <div class="col-span-1 flex justify-center mt-3">
              <mat-slide-toggle
                disabled
                name="status{{ index }}"
                [(ngModel)]="userFeature[index].status"
              ></mat-slide-toggle>
            </div>
            <div class="col-span-1 flex justify-center mt-3">
              <mat-radio-button
                name="default-feature{{ index }}"
                [value]="userFeature[index].defaultFeature"
                [checked]="userFeature[index].defaultFeature"
                disabled
              ></mat-radio-button>
            </div>
            <div class="col-span-1 flex justify-end">
              <button mat-icon-button class="mr-2" type="button" mat-button disabled>
                <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
              </button>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </form>
</div>
}
