<div id="alert-2"
class="rounded-lg flex items-center p-4 mb-4"
[ngClass]="Data.alert_class" role="alert">
<mat-icon>info</mat-icon>
<div class="ms-3 text-sm font-medium">
  {{Data.message}} 
  @if(Data.link!=undefined && Data.linkMessage!=undefined){
  <a [routerLink]="'/' + Data.link" class="font-semibold underline hover:no-underline">{{Data.linkMessage}}</a>
  }
</div>
<button type="button"
  class="ms-auto -mx-1.5 -my-1.5 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700"
  data-dismiss-target="#alert-2" aria-label="Close" (click)="onClose()">
  <mat-icon>close</mat-icon>
</button>
</div>