<fuse-loading-bar></fuse-loading-bar>
<div class="flex h-screen ">
    <!-- Navigation -->
    <fuse-vertical-navigation class="dark  w-64 flex-none " [mode]="isScreenSmall ? 'over' : 'side'"
        [name]="'mainNavigation'" [navigation]="navigation" [opened]="!isScreenSmall">
        <!-- Navigation header hook -->
        <ng-container fuseVerticalNavigationContentHeader>
            <div class="flex justify-between items-center p-2">
                <div class="w-16">
                    <img src="van+name.logo.png" alt="logo">
                </div>
                <div>
                    <admin [showAvatar]="false"></admin>
                    <admin-notifications></admin-notifications>
                </div>
            </div>
            <!-- User -->
            @if(user){
            <div class="flex flex-col items-center w-full p-4">
                <div class="relative w-24 h-24">
                    @if(user.avatar){
                    <img class="w-full h-full rounded-full" [src]="user.avatar" alt="User avatar">
                    }
                    @else{
                    <div
                        class="flex items-center justify-center w-full h-full rounded-full overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                        {{user.first_name.charAt(0)}}
                    </div> }
                </div>
                <div class="flex flex-col items-center justify-center w-full mt-6">
                    <div
                        class="w-full whitespace-nowrap text-ellipsis overflow-hidden text-center leading-normal font-medium">
                        {{user.first_name+" "+user.last_name}}
                    </div>
                    <div
                        class="w-full mt-0.5 whitespace-nowrap text-ellipsis overflow-hidden text-center text-md leading-normal font-medium text-secondary">
                        {{user.email}}
                    </div>
                </div>
            </div>
            }
        </ng-container>
        <!-- Navigation footer hook -->
        <ng-container fuseVerticalNavigationContentFooter>
            <div class="flex flex-0 items-center justify-center h-16 pr-6 pl-2 mt-2 mb-4 opacity-12">
                <img class="max-w-36" src="van+name.logo.png">
            </div>
        </ng-container>
    </fuse-vertical-navigation>


    <!-- Wrapper -->
    <div class="flex flex-col flex-1 min-w-0">
        <!-- Header -->
        <div
            class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">
            <!-- Navigation toggle button -->
            <button mat-icon-button (click)="toggleNavigation('mainNavigation')">
                <mat-icon svgIcon="heroicons_outline:bars-3"></mat-icon>
            </button>

            <ng-template #separatorTemplate>
                <mat-icon svgIcon="heroicons_outline:chevron-right"></mat-icon>
            </ng-template>
            <!-- Components -->
            <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">

                <search></search>
                <shortcuts></shortcuts>

            </div>
        </div>
        <!-- Content -->
        <div class="flex flex-col flex-auto overflow-hidden bg-white">
            @if (true) {
            @if(isLoading){
            <div class="flex flex-1 justify-center items-center">
                <mat-progress-spinner [diameter]="45" mode="indeterminate">
                </mat-progress-spinner>
            </div>
            }@else {
            <router-outlet></router-outlet>
            }
            }
        </div>

    </div>
</div>