<div class="flex justify-center items-center min-h-screen px-4">
    <mat-card class="p-6 w-full max-w-sm shadow-lg">
      <h2 class="text-xl mb-2 text-center">Password Reset</h2>
      <p class="text-sm text-gray-600 text-center mb-4">Forgot your password? Enter your email to reset it.</p>
      <form [formGroup]="resetForm" (ngSubmit)="sendEmail()" class="space-y-4">
        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-error *ngIf="resetForm.get('email')?.invalid">Invalid email</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" class="w-full" type="submit">Send</button>
      </form>
    </mat-card>
  </div>
  