<div class="flex flex-col h-full w-full relative z-99 sm:z-50 overflow-hidden">
    @if (Order) {
      <div class="absolute top-2 sm:top-24 left-2 sm:left-4 z-50">
        <div class="bg-gray-200 w-fit rounded-xl p-4 backdrop-blur-sm bg-opacity-50">
          <button mat-icon-button class="bg-white rounded-full" [matMenuTriggerFor]="listCard01Menu">
            <mat-icon [svgIcon]="'heroicons_solid:ellipsis-horizontal'"></mat-icon>
          </button>
          <mat-menu #listCard01Menu="matMenu" class="bg-white p-2 rounded-3xl">
            <button mat-menu-item class="rounded-lg" (click)="goBack()">Go back</button>
            @if ((Order.status === Status.pending || Order.status === Status.assigned)) {
            <button mat-menu-item class="text-red-500 hover:bg-red-100 rounded-lg" (click)="cancelOrder()">Cancel order</button>
            }
          </mat-menu>
        </div>
        <div>
          @if (Order.status=="pending") {
            <h2 class="font-bold text-xl sm:text-7xl">We’re looking for<br>delivery agents...</h2>
            <h4 class="text-4xl">This may take a while!</h4>
          } @else if (Order.status=="assigned" && Agent) {
            <h2 class="font-bold text-xl sm:text-7xl">Order assigned to<br>
              <span class="underline cursor-pointer text-indigo-400" (click)="flippableCard.face = flippableCard.face === 'front' ? 'back' : 'front';details=true" matTooltip="Click agent name to see details">{{Agent.first_name+" "+Agent.last_name}}</span>!
            </h2>
            <h4 class="text-md sm:text-3xl">
              <span class="hidden sm:block">
                Driver
                @if (isActive) {
                  <ng-container *ngTemplateOutlet="active"></ng-container>
                } @else {
                  <ng-container *ngTemplateOutlet="waiting"></ng-container>
                }
                <ng-template #active>
                  is <span class="font-bold text-green-500">{{ time | number: '1.0-0' }} minutes</span> away from pick‑up
                </ng-template>
                <ng-template #waiting>
                  on his way for pick‑up
                </ng-template>
                , please wait!
              </span>
            </h4>
          } @else if (Order.status===Status.picked_up && Agent) {
            <h2 class="font-bold text-xl sm:text-7xl">Order picked up by<br>
              <span class="underline cursor-pointer text-indigo-400" (click)="flippableCard.face = flippableCard.face === 'front' ? 'back' : 'front';details=true" matTooltip="Click agent name to see details">{{Agent.first_name+" "+Agent.last_name}}</span>!
            </h2>
            <h4 class="text-md sm:text-3xl">
              <span class="hidden sm:block">
                Driver
                @if (isActive) {
                  is <span class="font-bold text-green-500">{{ time | number: '1.0-0' }} minutes</span> away from destination
                } @else {
                  on his way to destination
                }
                , please wait!
              </span>
            </h4>
          }
        </div>
      </div>
  
      <div class="absolute inset-x-0 sm:right-4 sm:left-[unset] top-72 sm:top-15 z-50 h-[calc(100vh-18rem)] sm:h-full overflow-y-auto sm:overflow-y-hidden scrollbar-hide rounded-t-3xl" [class.top-140]="dragging()">
        <card [flippable]="true" [face]="'front'" #flippableCard="Card">
          <ng-container CardFront>
            <ordercarddetails [Order]="Order" [withMap]="false" (canceled)="cancelOrder()"></ordercarddetails>
          </ng-container>
          <ng-container CardBack>
            @if (Agent) {
              <card class="flex-col w-full p-6 sm:py-8 sm:px-14 relative h-full">
                <button class="ml-1.5 absolute top-4 right-4" mat-icon-button (click)="flippableCard.face = flippableCard.face === 'front' ? 'back' : 'front'">
                  <mat-icon [svgIcon]="'heroicons_outline:arrow-long-left'"></mat-icon>
                </button>
                <div class="relative flex flex-col flex-auto items-center">
                  <div class="w-full max-w-3xl">
                    <div class="flex flex-auto items-center justify-center">
                      <div class="flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
                        @if (Agent.avatar) {
                          <img class="object-cover w-full h-full" [src]="Agent.avatar">
                        } @else {
                          <div class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                            {{Agent.first_name.charAt(0)}}
                          </div>
                        }
                      </div>
                    </div>
                    <div class="mt-3 text-4xl font-bold truncate">{{Agent.first_name+" "+Agent.last_name}}</div>
                    <div class="flex flex-wrap items-center mt-2">
                      <div class="flex items-center justify-center py-1 px-3 mr-3 mb-1 sm:mb-3 rounded-full leading-normal text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                        <span class="text-sm font-medium whitespace-nowrap">Driver</span>
                      </div>
                    </div>
                    <div class="flex flex-col mt-2 sm:mt-4 pt-2 sm:pt-6 border-t space-y-8">
                      <div class="flex sm:items-center">
                        <mat-icon [svgIcon]="'heroicons_outline:briefcase'"></mat-icon>
                        <div class="ml-6 leading-6">Delivery driver</div>
                      </div>
                      <div class="flex sm:items-center">
                        <mat-icon [svgIcon]="'heroicons_outline:building-office-2'"></mat-icon>
                        <div class="ml-6 leading-6">Go Fast</div>
                      </div>
                      <div class="flex">
                        <mat-icon [svgIcon]="'heroicons_outline:envelope'"></mat-icon>
                        <div class="min-w-0 ml-6 space-y-1">
                          <div class="flex items-center leading-6">
                            <a class="hover:underline text-primary-500" [href]="'mailto:' + Agent.email" target="_blank">{{Agent.email}}</a>
                            <div class="text-md truncate text-secondary">
                              <span class="mx-2">•</span>
                              <span class="font-medium">Personal</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="flex">
                        <mat-icon [svgIcon]="'heroicons_outline:phone'"></mat-icon>
                        <div class="min-w-0 ml-6 space-y-1">
                          <div class="flex items-center leading-6">
                            <img src="TN.svg" class="w-6 h-4 hidden sm:block" />
                            <div class="sm:ml-3 font-mono">+216</div>
                            <div class="ml-2.5 font-mono">{{Agent.phone1}}</div>
                            <div class="text-md truncate text-secondary">
                              <span class="mx-2">•</span>
                              <span class="font-medium">Work</span>
                            </div>
                          </div>
                          <div class="flex items-center leading-6">
                            <img src="TN.svg" class="w-6 h-4 hidden sm:block" />
                            <div class="sm:ml-3 font-mono">+216</div>
                            <div class="ml-2.5 font-mono">{{Agent.phone2}}</div>
                            <div class="text-md truncate text-secondary">
                              <span class="mx-2">•</span>
                              <span class="font-medium">Work</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </card>
            }
          </ng-container>
        </card>
      </div>
    }
    <div class="w-full min-h-screen max-h-screen z-0">
      <div id="map" class="min-h-screen max-h-screen w-full"></div>
    </div>
  </div>