<h2 class="text-xl font-semibold text-gray-900 dark:text-white" mat-dialog-title>{{ch}} Task !</h2>
<form class="space-y-1 md:space-y-3" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content >

          <mat-form-field class="w-full">
            <mat-label>Task Name</mat-label>
            <input matInput type="text" required formControlName="taskName">
          </mat-form-field>

          <mat-form-field class="w-full">
            <mat-label>Task Date</mat-label>
            <input matInput [min]="minDate" [matDatepicker]="picker" required formControlName="taskDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="w-full">
            <mat-label>Task Duration (hours)</mat-label>
            <input matInput type="number" required formControlName="taskDuration">
          </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>Importance</mat-label>
            <select matInput matNativeControl required formControlName="importance">
              <option value="Low">Low</option>
              <option value="Moderate">Moderate</option>
              <option value="High">High</option>
            </select>
          </mat-form-field>

          @if(ch=="Update"){
            <mat-checkbox matInput [formControl]="taskForm.controls['done']" ngDefaultControl >Mark as Done</mat-checkbox>
          }



</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close] (click)="onSubmit()" cdkFocusInitial>{{ch}}</button>
</mat-dialog-actions>
</form>
