@if(user) {
<div class="flex flex-col flex-1 bg-card dark:bg-transparent">
  <form class="w-full" #myForm="ngForm" ngForm="ngForm">
    <!-- Header -->
    <div class="relative flex flex-col flex-0 sm:justify-between py-3 px-3 border-b">

      <!-- Title -->
      <div class="hidden md:flex text-3xl font-extrabold tracking-tight">
        {{ 'Users Features' }}
      </div>
      <!-- Actions -->
      <div class="flex flex-shrink-0 w-full items-center md:mt-3 sm:mt-0">
        <div class="w-3/4 sm:w-2/3 flex flex-row">
          <!-- delete user button -->
          <button class="mr-2 text-red-500" mat-flat-button (click)="deletegroup()">
            <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
            <span class="ml-2 mr-1">{{ 'Delete' }}</span>
          </button>
        </div>
        <div class="flex justify-end w-1/4 sm:w-1/3 ml-1 sm:ml-0">
          <!-- cancel project button -->
          <button class="mr-2" mat-flat-button (click)="cancelEdit(myForm)">
            <span class="ml-2 mr-1">{{ 'Cancel' }}</span>
          </button>
          <!-- save project button -->
          <button
            class="mr-2"
            mat-flat-button
            [color]="'primary'"
            type="submit"
            (click)="updateGroup()"
          >
            <span class="ml-2 mr-1">{{ 'Save' }}</span>
          </button>
        </div>
      </div>
    </div>
    <!-- Main -->
    <div class="flex flex-1 flex-col flex-auto overflow-hidden sm:overflow-y-auto">
      <div class="flex justify-center mb-6 w-full m-2">
        <div class="w-5/6 sm:w-1/2 md:w-1/3">
          <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
            <mat-label class="">{{ 'User' }}</mat-label>
            <input [value]="label" matInput name="email" type="text" disabled />
          </mat-form-field>
        </div>
      </div>
      <div class="flex flex-col mb-6 w-full bg-gray-100">
        <div class="flex text-2xl font-extrabold tracking-tight m-4">
          <button class="mx-4" mat-flat-button type="button" (click)="grantAll($event)">
            <span class="">{{ 'Grant all' }}</span>
          </button>
          <button class="" mat-flat-button type="button" color="accent" (click)="revokeAll($event)">
            <span class="">{{ 'Revoke all' }}</span>
          </button>
        </div>
        <div class="grid grid-cols-10 gap-6 m-1 p-1 items-center">
          <div class="col-span-2 flex justify-center">{{ 'Feature' }}</div>
          <div class="col-span-1 flex justify-center cursor-pointer" (click)="activate('list')">
            <button
              #tooltip="matTooltip"
              mat-flat-button
              matTooltip="{{ (type[0] ? 'deactivate all' : 'activate all') }}"
              matTooltipHideDelay="500"
              [matTooltipPosition]="'above'"
              class="example-button"
            >
              {{ 'List' }}
            </button>
          </div>
          <div class="col-span-1 flex justify-center cursor-pointer" (click)="activate('create')">
            <button
              #tooltip="matTooltip"
              mat-flat-button
              matTooltip="{{ (type[1] ? 'deactivate all' : 'activate all') }}"
              matTooltipHideDelay="500"
              [matTooltipPosition]="'above'"
              class="example-button"
            >
              {{ 'Create' }}
            </button>
          </div>
          <div class="col-span-1 flex justify-center cursor-pointer" (click)="activate('read')">
            <button
              #tooltip="matTooltip"
              mat-flat-button
              matTooltip="{{ (type[2] ? 'deactivate all' : 'activate all') }}"
              matTooltipHideDelay="500"
              [matTooltipPosition]="'above'"
              class="example-button"
            >
              {{ 'Read' }}
            </button>
          </div>
          <div class="col-span-1 flex justify-center cursor-pointer" (click)="activate('update')">
            <button
              #tooltip="matTooltip"
              mat-flat-button
              matTooltip="{{ (type[3] ? 'deactivate all' : 'activate all') }}"
              matTooltipHideDelay="500"
              [matTooltipPosition]="'above'"
              class="example-button"
            >
              {{ 'Update' }}
            </button>
          </div>
          <div class="col-span-1 flex justify-center cursor-pointer" (click)="activate('delete')">
            <button
              #tooltip="matTooltip"
              mat-flat-button
              matTooltip="{{ (type[4] ? 'deactivate all' : 'activate all') }}"
              matTooltipHideDelay="500"
              [matTooltipPosition]="'above'"
              class="example-button"
            >
              {{ 'Delete' }}
            </button>
          </div>
          <div class="col-span-1 flex justify-center cursor-pointer" (click)="activate('status')">
            <button
              #tooltip="matTooltip"
              mat-flat-button
              matTooltip="{{ (type[5] ? 'deactivate all' : 'activate all') }}"
              matTooltipHideDelay="500"
              [matTooltipPosition]="'above'"
              class="example-button"
            >
              {{ 'Status' }}
            </button>
          </div>
          <div class="col-span-1 flex justify-center items-center">{{ 'Default' }}</div>
          <div class="col-span-1 flex justify-center"></div>
        </div>
        <div class="grid grid-cols-1 min-w-full gap-1 min-w-full bg-white">
          @for (item of userFeature; track trackByFn(index, item); let index = $index; let last =
          $last) {
          <div class="grid grid-cols-10 gap-6 m-1 p-1 bg-gray-100">
            <div class="col-span-2">
              <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                <mat-select
                  placeholder="select feature"
                  (selectionChange)="addRow(index, selectValue.value); checkDefault(index)"
                  [value]="userFeature[index].featureId ? userFeature[index].featureId._id : null"
                  #selectValue
                >
                  <mat-select-trigger>
                    @if (featureId[index]) {
                    <div class="font-medium items-center flex flex-row">
                      <span class="">
                        {{ featureId[index].title }}
                      </span>
                    </div>
                    }
                  </mat-select-trigger>
                  <mat-option>
                    <ngx-mat-select-search
                      [formControl]="featureFilterControls[index]"
                      placeholder="Filter"
                      noEntriesFoundLabel="No Features Found"
                    ></ngx-mat-select-search>
                  </mat-option>
                  <mat-option [value]="null">
                    <div class="font-medium items-center flex flex-row">
                      <span class="hidden sm:block"> {{ '-- None --' }} </span>
                    </div>
                  </mat-option>
                  @for (item of filteredList[index]; track item) {
                  <mat-option [value]="item._id" [disabled]="featureWithId.includes(item._id)">
                    <div class="font-medium items-center flex flex-row">
                      <span class=""> {{ item.title }}</span>
                    </div>
                  </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-span-1 flex justify-center mt-3">
              @if (userFeature[index]) {
              <mat-slide-toggle
                [disabled]="!featureId[index]"
                name="list{{ index }}"
                [(ngModel)]="userFeature[index].list"
                (click)="testActivate('list')"
              ></mat-slide-toggle>
              }
            </div>
            <div class="col-span-1 flex justify-center mt-3">
              @if (userFeature[index]) {
              <mat-slide-toggle
                name="create{{ index }}"
                [disabled]="!featureId[index]"
                [(ngModel)]="userFeature[index].create"
                (click)="testActivate('create')"
              ></mat-slide-toggle>
              }
            </div>
            <div class="col-span-1 flex justify-center mt-3">
              @if (userFeature[index]) {
              <mat-slide-toggle
                name="read{{ index }}"
                [disabled]="!featureId[index]"
                [(ngModel)]="userFeature[index].read"
                (click)="testActivate('read')"
              ></mat-slide-toggle>
              }
            </div>
            <div class="col-span-1 flex justify-center mt-3">
              @if (userFeature[index]) {
              <mat-slide-toggle
                name="update{{ index }}"
                [disabled]="!featureId[index]"
                [(ngModel)]="userFeature[index].update"
                (click)="testActivate('update')"
              ></mat-slide-toggle>
              }
            </div>
            <div class="col-span-1 flex justify-center mt-3">
              @if (userFeature[index]) {
              <mat-slide-toggle
                name="delete{{ index }}"
                [disabled]="!featureId[index]"
                [(ngModel)]="userFeature[index].delete"
                (click)="testActivate('delete')"
              ></mat-slide-toggle>
              }
            </div>
            <div class="col-span-1 flex justify-center mt-3">
              @if (userFeature[index]) {
              <mat-slide-toggle
                name="status{{ index }}"
                [disabled]="!featureId[index]"
                [(ngModel)]="userFeature[index].status"
                (ngModelChange)="testActivate('status'); checkDefault(index)"
              ></mat-slide-toggle>
              }
            </div>
            <div class="col-span-1 flex justify-center mt-3">
              @if (userFeature[index]) {
              <mat-radio-button
                (change)="default(index)"
                [checked]="userFeature[index].defaultFeature"
                [disabled]="
                  !userFeature[index].featureId ||
                  !userFeature[index].featureId.link ||
                  !userFeature[index].status
                "
              ></mat-radio-button>
              }
            </div>
            <div class="col-span-1 flex justify-end">
              <button
                mat-icon-button
                class="mr-2"
                type="button"
                (click)="deleteRow(index)"
                [disabled]="last && !featureId[index]"
              >
                <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
              </button>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </form>
</div>
}
