<div class="flex justify-center items-center min-h-screen px-4">
  <mat-card class="p-6 w-full max-w-sm shadow-lg">
    <h2 class="text-xl mb-2 text-center">Code Verification</h2>
    <p class="text-sm text-gray-600 text-center mb-2">
      Enter code sent to your email.
    </p>
    <p class="text-sm text-gray-600 text-center mb-4">
      Code sent to email address: <br/> <span class="font-bold">{{ email }}</span>
    </p>

    <!-- Timer -->
    <p class="text-center text-red-500 text-lg font-semibold mb-5">
      Time left: {{ formattedTime }}
    </p>
    @if (showAlert) {
      <app-alert [Data]="{
        alert_class: 'text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400',
        message: 'Wrong code. Re-check Email',
      }"
      (close)="showAlert = false"/>
      }
      <div class="flex justify-between">
        <code-input required [isCodeHidden]="false"
        [codeLength]="6"
        (codeChanged)="onCodeChanged($event)"
        (codeCompleted)="onCodeCompleted($event)">
        </code-input>
      </div>

      <!-- Verify Button -->
      <button (click)="verifyCode()" mat-raised-button color="primary" class="w-full mt-7" type="button" [disabled]="!activebtn">
        Verify
      </button>


      <p class="text-xs text-center text-gray-500 mt-9">
        If you didn't receive the code, click "Resend Code". You may need to check your spam folder.
      </p>
      
      <!-- Resend Code Button -->
      <button mat-flat-button color="warn" class="w-full mt-2" (click)="resendCode()" [disabled]="resendDisabled">
        Resend Code
        @if(resendDisabled){ 
        <span >({{ resendTimer }}s)</span>
        }
      </button>
  </mat-card>
</div>
