@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.sidenav-overrides((
    container-width:16rem,
    container-shape:none,
    container-background-color:#1f2937,
  ));
}