<div class="min-h-screen flex items-center justify-center p-4 ">
    <div class="w-full max-w-6xl flex flex-col lg:flex-row items-center gap-8">
        <!-- Sign up card -->
        <div class="w-full lg:w-1/2 bg-gray-800 rounded-lg p-8">
            <div class="flex items-center gap-2 mb-6">
                <div class="w-8 h-8 bg-white rounded-full flex items-center justify-center">
                    <img src="logo.png" alt="logo">
                </div>
                <span class="text-white text-xl font-semibold">GoFast</span>
            </div>

            <h1 class="text-2xl text-white font-bold mb-2">Welcome back</h1>

            <form [formGroup]="signinForm" class="space-y-6" (ngSubmit)="submit()">
                
                @if (showAlert) {
                    <app-alert [Data]="{
                      alert_class: 'text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400',
                      message: error
                    }"
                    (close)="showAlert = false"/>
                    }
                <mat-form-field class="w-full" >
                    <mat-label>Email</mat-label>
                    <input matInput type="email" required formControlName="email" [readonly]="verify">
                    <mat-error *ngIf="signinForm.get('email')?.invalid && signinForm.get('email')?.touched">
                        Invalid email address.
                    </mat-error>
                </mat-form-field>

                @if (!verify) {
                <mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" required formControlName="password">
                    <mat-error *ngIf="signinForm.get('password')?.invalid && signinForm.get('password')?.touched">
                        Atleast 8 characters required
                    </mat-error>
                </mat-form-field>
                }@else{
                        <code-input required [isCodeHidden]="false" [codeLength]="6" (codeChanged)="onCodeChanged($event)"
                            (codeCompleted)="onCodeCompleted($event)">
                        </code-input>
                    }
                <div class="flex items-center justify-center">
                    <button mat-flat-button type="submit" class="w-1/2 py-4" [disabled]="activeBtn">
                        {{btnText}}
                    </button>
                </div>
            </form>
        </div>

        <div class="hidden lg:block w-1/2">
            <img src="admin-ill.png" alt="Desk illustration" class="w-full max-w-md mx-auto">
        </div>
    </div>
</div>

<!--copy-->
