<div class="flex flex-col min-h-screen bg-gray-100 flex items-center justify-center p-4">
  <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
    <img class="w-8 h-8 mr-2" src="logo.png" alt="logo">
    GoFast
  </a>
  <mat-card class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
    <mat-card-header class="justify-center">
      <mat-card-title class="p-6 space-y-4 md:space-y-6 sm:p-8">              
        <h1 class="text-xl leading-tight tracking-tight text-gray-900 md:text-1xl dark:text-white">
                  Sign in to your account
              </h1>
            </mat-card-title>
    </mat-card-header>
  
      <mat-card-content>
        <form class="space-y-4">
          <mat-form-field class="w-full">
            <mat-label>Email</mat-label>
            <input matInput type="email" required>
          </mat-form-field>
  
          <mat-form-field class="w-full">
            <mat-label>Password</mat-label>
            <input matInput type="password" required>
          </mat-form-field>

          <div class="flex items-center justify-between">
            <div class="flex items-start">
                <div class="flex items-center h-5">
                  <mat-checkbox id="remember" aria-describedby="remember" class="dark:focus:ring-primary-600 dark:ring-offset-gray-800"></mat-checkbox>
                </div>
                <div class="ml-1 text-sm">
                  <label for="remember" class="text-gray-500 dark:text-gray-300">Remember me</label>
                </div>
            </div>
            <a routerLink="/reset-password" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Forgot password?</a>
          </div>
  
          <button 
            mat-raised-button 
            color="primary"
            class="w-full"
          >
            Sign In
          </button>
        </form>
  
        <div class="mt-4 text-center">
          <span class="text-gray-600">Don't have an account? </span>
          <a routerLink="/signup" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign Up</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>