<div class="flex flex-col min-h-screen bg-gray-100 flex items-center justify-center p-4">
  <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
    <img class="w-8 h-8 mr-2" src="logo.png" alt="logo">
    GoFast
  </a>
  <mat-card
    class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
    <mat-card-header class="justify-center">
      <mat-card-title class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl leading-tight tracking-tight text-gray-900 md:text-1xl dark:text-white">
          Sign in to your account
        </h1>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form class="space-y-4" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        @if (showAlert) {
        <app-alert [Data]="{
              alert_class: 'text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400',
              message: error,
              link: 'Sign-In',
              linkMessage: 'Try Signing In.'
            }" (close)="showAlert = false" />
        }
        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input matInput type="email" required formControlName="email">
          <mat-error *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
            Invalid email address.
          </mat-error>
        </mat-form-field>
        

        <mat-form-field class="w-full">
          <mat-label>Password</mat-label>
          <input matInput type="password" required formControlName="password">
          <mat-error *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched">
            Atleast 8 characters required
          </mat-error>
        </mat-form-field>

        <div class="flex items-center justify-end">
          <a routerLink="/Reset-Password"
            class="font-medium text-primary-600 hover:underline dark:text-primary-500">Forgot password?</a>
        </div>

        <button type="submit" mat-raised-button color="primary" class="w-full">
          Sign In
        </button>
      </form>

      <div class="mt-4 text-center">
        <span class="text-gray-600">Don't have an account? </span>
        <a routerLink="/Sign-Up" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign Up</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>

@if (showNotif) {
<div id="toast-top-right" class="fixed flex items-center w-full max-w-xs p-4 space-x-4 text-gray-500 bg-white divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg shadow-sm top-5 right-5 dark:text-gray-400 dark:divide-gray-700 dark:bg-gray-800" role="alert">
  <div class="flex">
      <div class="inline-flex items-center justify-center shrink-0 w-8 h-8 text-blue-500 bg-blue-100 rounded-lg dark:text-blue-300 dark:bg-blue-900">
        <mat-icon>refresh</mat-icon>
      </div>
      <div class="ms-3 text-sm font-normal">
          <span class="mb-1 text-sm font-semibold text-gray-900 dark:text-white">Account not verified</span>
          <div class="mb-2 text-sm font-normal">Verify your account so you can continue!</div> 
          <div class="grid grid-cols-2 gap-2">
              <div>
                  <button (click)="verif()"  type="button" class="inline-flex justify-center w-full px-2 py-1.5 text-xs font-medium text-center text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-800">Update</button>
              </div>
              <div>
                  <button (click)="showNotif=false" type="button" class="inline-flex justify-center w-full px-2 py-1.5 text-xs font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-600 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700">Not now</button> 
              </div>
          </div>    
      </div>
      <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white items-center justify-center shrink-0 text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-interactive" aria-label="Close">
        <mat-icon>close</mat-icon>
      </button>
  </div>
</div>
}